@import "../../styles/variables";

.tableContainer {
  padding: 30px;

  @media screen and (min-width: 768px) {
    padding: 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    td {
      padding: 15px;
      font-family: "Outfit", serif;
      color: $wenge-brown;
      font-size: large;
      font-weight: 400;
    }

    tr {
      border-bottom: 1px solid $light-grey;
    }

    .tableData {
      color: $nutmeg;
      font-weight: 700;
    }
  }
}
